In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
PROJECT_DIR = "/content/drive/My Drive/Project_EnsembleLearning/"

In [3]:
import pandas as pd

## NMF Results

In [4]:
NMF_results = pd.read_csv(PROJECT_DIR + 'predictions/prediction_nmf.csv')
NMF_results.rename(columns = {'predicted_rating':'NMF_predicted_rating'}, inplace = True)
NMF_results.head()

   userId  movieId  NMF_predicted_rating  rating
0       1      307              3.794839     3.5
1       1     1590              2.693830     2.5
2       1     3424              3.902669     4.5
3       2      170              2.736179     3.5
4       2     1296              4.062953     4.5

In [5]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(NMF_results['rating'], NMF_results['NMF_predicted_rating']))

0.6871262483676177

In [6]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(NMF_results['rating'], NMF_results['NMF_predicted_rating']))
rmse

0.9000662681096053

## Coclustering Results

In [7]:
CoClustering_results = pd.read_csv(PROJECT_DIR + 'predictions/prediction_cocluster.csv')
CoClustering_results.rename(columns = {'predicted_rating':'CoClustering_predicted_rating'}, inplace = True)
CoClustering_results.head()

   userId  movieId  CoClustering_predicted_rating  rating
0       1      307                       3.691498     3.5
1       1     1590                       2.189747     2.5
2       1     3424                       3.352594     4.5
3       2      170                       3.089838     3.5
4       2     1296                       3.606797     4.5

In [8]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(CoClustering_results['rating'], CoClustering_results['CoClustering_predicted_rating']))

0.7143870388736728

In [9]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(CoClustering_results['rating'], CoClustering_results['CoClustering_predicted_rating']))
rmse

0.9222319913063152

## SVD Results

In [10]:
SVD_results = pd.read_csv(PROJECT_DIR + 'predictions/prediction_svd.csv')
SVD_results.rename(columns = {'predicted_rating':'SVD_predicted_rating'}, inplace = True)
SVD_results.head()

   userId  movieId  SVD_predicted_rating  rating
0       1      307              4.120856     3.5
1       1     1590              3.090500     2.5
2       1     3424              3.624880     4.5
3       2      170              3.238539     3.5
4       2     1296              3.875873     4.5

In [11]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(SVD_results['rating'], SVD_results['SVD_predicted_rating']))

0.6461972158000439

In [12]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(SVD_results['rating'], SVD_results['SVD_predicted_rating']))
rmse

0.8476071579404905

## Neural Network Results

In [13]:
NN_results = pd.read_csv(PROJECT_DIR + 'predictions/prediction_neuralnet.csv')
NN_results.rename(columns = {'predicted_rating':'NN_predicted_rating'}, inplace = True)
NN_results.head()

   Unnamed: 0  userId  movieId  rating  NN_predicted_rating
0           0       1      307     3.5             1.874426
1           1       1     1590     2.5             1.791898
2           2       1     3424     4.5             3.000674
3           3       2      170     3.5             3.004210
4           4       2     1296     4.5             4.011952

In [14]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(NN_results['rating'], NN_results['NN_predicted_rating']))

1.011494821352931

In [15]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(NN_results['rating'], NN_results['NN_predicted_rating']))
rmse

1.3070530429805927

## ALS Results

In [16]:
ALS_results = pd.read_csv(PROJECT_DIR + 'predictions/prediction_als.csv')
ALS_results.rename(columns = {'predicted_rating':'ALS_predicted_rating'}, inplace = True)
ALS_results.head()

   userId  movieId  ALS_predicted_rating  rating
0    9591    32196              4.228439     3.5
1    5219    32196              2.835220     2.5
2    4796    91902              2.468013     4.5
3    4979    91902              1.387823     3.5
4    3846    68522              5.526903     4.5

In [17]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(ALS_results['rating'], ALS_results['ALS_predicted_rating']))

1.0483368957654835

In [18]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(ALS_results['rating'], ALS_results['ALS_predicted_rating']))
rmse

1.3392225856999769

## Ensemble Results

In [19]:
Ensemble_DF = NMF_results
Ensemble_DF['CoClustering_predicted_rating'] = CoClustering_results['CoClustering_predicted_rating']
Ensemble_DF['SVD_predicted_rating'] = SVD_results['SVD_predicted_rating']
Ensemble_DF['NN_predicted_rating'] = NN_results['NN_predicted_rating']
Ensemble_DF['ALS_predicted_rating'] = ALS_results['ALS_predicted_rating']

Ensemble_DF.head()

   userId  movieId  ...  NN_predicted_rating  ALS_predicted_rating
0       1      307  ...             1.874426              4.228439
1       1     1590  ...             1.791898              2.835220
2       1     3424  ...             3.000674              2.468013
3       2      170  ...             3.004210              1.387823
4       2     1296  ...             4.011952              5.526903

[5 rows x 8 columns]

In [20]:
# compute average predicted rating

Ensemble_DF['Ensemble_Rating'] = (Ensemble_DF['CoClustering_predicted_rating'] 
                                  +Ensemble_DF['NMF_predicted_rating'] 
                                  +NN_results['NN_predicted_rating'] 
                                  +Ensemble_DF['SVD_predicted_rating']
                                  +Ensemble_DF['SVD_predicted_rating']) / 5.0

df_result_ensemble = Ensemble_DF[['userId', 'movieId', 'Ensemble_Rating', 'rating']]
df_result_ensemble.columns = ['userId', 'movieId', 'predicted_rating', 'rating']

df_result_ensemble.head()

   userId  movieId  predicted_rating  rating
0       1      307          3.520495     3.5
1       1     1590          2.571295     2.5
2       1     3424          3.501139     4.5
3       2      170          3.061461     3.5
4       2     1296          3.886690     4.5

In [21]:
# save prediction to file

df_result_ensemble.to_csv(
    PROJECT_DIR + 'predictions/prediction_ensemble.csv', index=False)