In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
PROJECT_DIR = "/content/drive/My Drive/Project_EnsembleLearning/"

In [3]:
import pandas as pd
import numpy as np

In [4]:
# load user-movie ratings

df_ratings = pd.read_csv(PROJECT_DIR + "dataset_full/ratings.csv")
df_ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [5]:
df_ratings.shape

(1178344, 4)

In [6]:
df_ratings.info

<bound method DataFrame.info of          userId  movieId  rating   timestamp
0             1      307     3.5  1256677221
1             1      481     3.5  1256677456
2             1     1091     1.5  1256677471
3             1     1257     4.5  1256677460
4             1     1449     4.5  1256677264
...         ...      ...     ...         ...
1178339   11819    54736     4.0  1202613596
1178340   11819    54771     3.5  1202613653
1178341   11819    54775     3.5  1202688729
1178342   11819    54962     3.5  1202613635
1178343   11819    54995     2.5        1203

[1178344 rows x 4 columns]>

In [7]:
# for each user, randomly select 80% of it's ratings as the training ratings, 
# and use the remaining 20% ratings as validation ratings.

idx = df_ratings.groupby('userId').apply(lambda x: x.sample(frac=0.8, random_state = 0)) \
  .index.get_level_values(1)

training = df_ratings.iloc[idx, :].reset_index(drop = True)
validation = df_ratings.drop(idx).reset_index(drop = True)

In [10]:
# training data

training.head()

   userId  movieId  rating   timestamp
0       1      481     3.5  1256677456
1       1     1591     1.5  1256677475
2       1     2478     4.0  1256677239
3       1     2840     3.0  1256677500
4       1     3698     3.5  1256677243

In [11]:
training.shape

(942890, 4)

In [12]:
# validation data

validation.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1     1590     2.5  1256677236
2       1     3424     4.5  1256677444
3       2      170     3.5  1192913581
4       2     1296     4.5  1192913608

In [13]:
validation.shape

(235454, 4)

In [15]:
# save training dataset

training.to_csv(PROJECT_DIR + 'dataset_split/training_set.csv', index=False)

In [16]:
# save validation dataset

validation.to_csv(PROJECT_DIR + 'dataset_split/validation_set.csv', index=False)